<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--НЕОСНОВНОЙ СТИЛЬ (БУТСТРАП)-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--ОСНОВНЫЕ СТИЛИ-->
    <link rel="stylesheet" href="css/style.css">

    <title>e-Shop</title>
</head>

<body>
<div id="app">
    <header>
    	<!--КОРЗИНА-->
        <div class="dropdown mydropdown">
            <input id="searchInput" class="search-input" type="text" v-model.lazy="searchTemplate" >
            <button class="search-button" type="button" id="searchButton" @click="filterGoods(searchTemplate)">Найти</button>
            <button class="cart-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Корзина</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" v-if="cartProducts.length == 0 ">Ваша корзина пуста</a>
                <div class="basket" v-else="cartProducts.length > 0">
                    <div class="cart-products">
                        <div class="cart-product-item" v-for="product of cartProducts" :key="product.id_product">
                            <img :src="imgCatalog" alt="">
                            <div class="desc">
                                <h3> {{ product.product_name }} </h3>
                                <p> {{ product.price }} </p>
                                <button class="addButton" @click="addProduct (product)">Добавить</button>
                                <button class="removeButton" @click="deleteProduct (product)">Удалить</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
    	<!--ЗАГРУЗКА ТОВАРОВ-->
        <div class="products">
            
            <div class="product-item" v-for="product of filteredProducts" :key="product.id_product">
                <img :src="imgCatalog" alt="">
                <div class="desc">
                    <h3> {{ product.product_name }} </h3>
                    <p> {{ product.price }} </p>
                    <button class="addButton" @click="addProduct (product)">Купить</button>
                </div>
            </div>

        </div>
    </main>
</div>
    
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script> <!--ОСНОВНОЙ СКРИПТ-->


	

	<!--НЕОСНОВНОЙ СКРИПТ (БУТСТРАП)-->
	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>
